/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Elite&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */



/* .ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
} */




/* .special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
} */




/* // <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


/* Fontes */
:root,
:root {
    --fonte-titulo-h1: "Montserrat", sans-serif;
    --fonte-textos: "Ubuntu", sans-serif;
    --fonte-subtitulo-h2: "Special Elite", system-ui;
    --fonte-subtitulo-h3: "Cinzel", serif;

}   


/* Cor 'Dark' */
:root,
:root[data-theme='dark']{
    --cor-fundo: #292929;
    --fundo-secundario: #5a5757;
    --cor-menu-link: #f5f5f5;
    --borda: #f5f5f5;
    --icon-theme: #f1c80f;
    --cor-titulo: #c4d8cf;
    --cor-texto: #ddd2d2;
    --cor-icon-theme: rgb(87, 81, 81);
    --hover-link: #dfdada;
    --cor-texto-menu-link: #756d6d;

}


/* Cor 'Clara */
:root[data-theme='light']{
    --cor-fundo: white;
    --fundo-secundario: #fdfdeb;
    --cor-menu-link: #862222;
    --borda: #862222;
    --icon-theme: #13102c;
    --cor-titulo: #00582f;
    --cor-texto: #042020;
    --cor-icon-theme: #130f0f;
    --hover-link: #e6e6e6;
    --cor-texto-menu-link: #756d6d;

}

html[data-theme="light"] .logo {
   /*  filter: invert(1); */ /* como a foto é branca, o valor é 1; para preto = 0 */
   filter: invert(1);
}

/* Aparencia/efeito barra rolagem */
html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--fundo-secundario);
}

/* Reset CSS */
* {
    margin: 0;/* margem externa */
    padding: 0; /* margem entre os elementos */
    box-sizing: border-box;
}
body {
    background: var(--cor-fundo);
    color: var(--cor-texto);
}
header {
    background: var(--cor-fundo);
    display: flex; /* flexbox */
    justify-content:space-between; /* espaçamento das div's , ou seja, alinhamento horizontal, eixo "x" */
    align-items: center; /* alinhamento vertical , como se fosse o eixo "y" */
    width: 100%;
    padding: 0.5rem 1rem; /* .5 cima e baixo; 1 direita e esquerda */
    /* padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ; */
    /* margin: 5rem; */
    border-bottom: 1px solid var(--borda); 
    position: fixed;  /* cria um menu fixo */
    z-index: 9999;
}

.logo {
    width: 5rem;
    height: auto;


}

/* nav */
.menu-desktop {
    display: none;
    padding: 0.5rem;
}

/* ul */
.menu {
    /* background: red; */
    display: flex;
    list-style: none;
    gap: 1rem;
}

/* a */
.menu-link {
    text-decoration: none;

}

/* span */
.texto-menu {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--cor-texto-menu-link);
}

#toggleTheme {
    color: var(--icon-theme);
    cursor: pointer;
}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    transform:translateX(100%);/* 100% */
    background: var(--fundo-secundario);
    width: 75%;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-top: 4rem;
    height: 100vh;/* viewport heigth */
    border-left: 1px solid var(--borda);
    
    
}

.menu-mobile.active { /* atributo (regra) que vem do JS */
    transform: translateX(0%);
    
}

.menu-item {
    padding-top: 8rem;
    text-align: center;
    list-style: none;
}

/* Herança */
.menu-link.active .texto-menu,
.menu-link:hover .texto-menu {
    color: var(--cor-menu-link);
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    color: var(--icon-theme);
    font-size: 1.2rem;
    margin-left: 1rem; /* distancia entre o sol e menu hamburger*/
    /* align-items: center;
    justify-content: center;
    display: flex; */
    padding: 0.5rem;
}

.header-toggle {
    display: flex;
    justify-content:center;
    align-items: center;
}

/* h1 base */
h1 {
    font-size: 2.5rem;
    font-family: var(--fonte-subtitulo-h3);
    font-optical-sizing: auto;
    font-weight: 400; /* bolder e ligther podem ser usados aqui */
    font-style: normal;

    color: var(--cor-titulo);
    /* letter-spacing: 5px; */
}

/* h2  */ /* Tudo o que está solto aqui serve para a visualização mobile */
h2 {
    text-align: center;
    font-size: 2.0rem;
    font-family: var(--fonte-subtitulo-h2);
    /* font-weight: ;
    letter-spacing: ; 
    color: ; */
}

/* h3 */
h3 {
    font-size: 1.55rem;
    font-family: var(--fonte-subtitulo-h3);
    text-transform: uppercase;
}

p,
span,
li {
    font-size: 1.5rem; /* todos os paragrafos, span e lista ficaram com o mesmo tamanho de fonte */
}

/* Reaproveitar para as seções */
#home,
.projetos,
.sobre,
.contato {
    padding: 3.5rem 1.0rem;
    /* background: orange;
 */
}

/* Flexbox da home */
#home {
    display: flex;
    flex-direction: column;
    gap: 2rem;/* coloca "gap" entre todos os elementos da home*/

}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* Espaço entre h1 e paragrafo */
}

.menu-social i {
    color: var(--cor-icon-theme);
    font-size: 1.2rem;
    
}

.menu-social i:hover {
    color: var(--hover-link);
}

.descricao-video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    padding: 6.25rem 1rem 2rem;
    background: #5a5757;
    margin-top: -7.5rem;

}
.video iframe {
    aspect-ratio: 16/9;
    /* width: 100%; */
}
.descricao-video h2 {
    font-size: 2rem;
    text-transform: normal;
    letter-spacing: 2px;
    font-family: var(--fonte-subtitulo-h2);
    text-align: center;
}
.projetos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.img-card {
    width: 100%;/* para imagem nunca passar seu tamanho origial */
    border-radius: 1rem 5rem;
    box-shadow: 10px 10px 30px 5px #fafafad5;/* aceita valores negativos para posicionar o shadow */
    /*         "X"  "Y"  "blur" spread */
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.card-list {
    list-style: none;
}

/* h3 do projeto */
.card-title {
    color: #0303dd;
    font-size: 2rem;
    font-weight: 400;
}
.card-list .card-item i {/* distancia as listas dos icones */
    margin-right: 15px;
}
.card-list .card-item {
    margin-bottom: 15px;
}
.card-list .card-item:hover i { /* efeito hover nos icones mesmo passando o mouse sobre as palavras das listas */
    color: #962a2a;
}

.btn-primario i {
    font-size: 1.2rem;
}

/* Sobre */
.sobre {
    display:flex ; /* Os textos a partir de "formação" vão para linha */
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-content1,
.sobre-content2 {
    display: flex;
    flex-direction: column;
}

.sobre-content1, .sobre-content2 {
        display: grid;
        grid-template-columns: 30% 70%;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 4rem;
    }

    .sobre-avatar {
        width: 100%;
        border-radius: 50rem;
    }

    .sobre-icones,
    .sobre-skills {
        display: flex;
        align-items: center;
        gap: 1.25rem;
    }

    .sobre-icones i,
    .sobre-skills i {
        font-size: 1.5rem;
    }


/* Accordion */
.accordion-body {
    display: none;
}

.accordion-item.active .accordion-body {
    display: flex;
}

.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180);
}


/* section {
    padding-top: 150px;
    color: white;
}
footer {
    color: white
} */



/* Responsividade */ 


@media (max-width: 768px) {
    #home {
        padding-top: 6rem;
    }
}


/* A partir de 768px o dispositivo deve voltar a tela em flex*/
@media (min-width: 768px) {
    header {
        padding: 1rem 6rem;/* 1rem para cima e para baixo e 6rem para direita e esquerda */
    }
    
    
    .menu-desktop {
        display: flex;
    }
    .btn-menu-mobile {
        display: none; /* em telas maiores que 768px faz o botão hamburger desaparecer */
    }

    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    .header-logo {
        min-width: 20%; /* centralização do logo */
    }
    #home,
    .projetos,
    .sobre {
        padding: 8rem 6rem 4rem 6rem;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .descricao-video {
        padding: 6.25rem 6rem 2rem 6rem;


    }
    
}.accordion-item.active .accordion-body {
    display: flex;
}



/* Telas 992px */
@media (min-width: 992px) {
    h1 {
        font-size: 6rem;
    }
    .projeto-card {
        flex-direction: row; /* em telas grandes, os textos ficarão em linha com a imagem */
    }
    .img-card {
        width: 55%;/* Em telas maiores de 992px, a imagem será limitada a 55% de largura, comtextos ao lado */
    }
    .card-reverse {
        flex-direction: row-reverse;
        justify-content: center;
    }
    




}

/* Telas 1200px - serve para quase todos os tablets em lanscape */
@media (min-width: 1200px) {
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.5rem;
    }
}

/* Telas 1400px */
@media (min-width: 1400px) {
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 3.25rem;
    }
    .descricao-video h2 {
        font-size: 4.5rem;
        text-align: start;
    }
}